.insta-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top :4rem;
  
}

.insta-item {
  position: relative;
  margin: 5px; /* Add gap between images */
}

.insta-img {
  width: 200px; /* Adjust as needed */
  height: auto;
  display: block;
  border-radius: 8px;
}

/* Overlay styling */
.insta-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease;
  border-radius: 8px;
}

.insta-overlay p {
  margin-top: 8px;
  font-size: 14px;
  color: #333;
  font-weight: 600;
}

.insta-item:hover .insta-overlay {
  opacity: 1;
}

